<%= for video <- @videos do %>
  <div class="media">
    <div class="media-left">
      <%= tag(:img, class: "media-object", style: "width: 160px;", src: video.photo_url) |> link(to: video_path(@conn, :show, video)) %>
    </div>
    <div class="media-body">
      <h4 class="media-heading"><%= video.title |> link(to: video_path(@conn, :show, video)) %></h4>
      <%= video.description %>
    </div>
  </div>
<% end %>
