/* Space out content a bit */
body, form, ul, table {
  margin-top: 20px;
  margin-bottom: 20px;
}

/* Phoenix flash messages */
.alert:empty { display: none; }

/* Phoenix inline forms in links and buttons */
form.link, form.button {
  display: inline;
}

.logo {
  width: 519px;
  height: 71px;
  display: inline-block;
  margin-bottom: 1em;
  background-image: url("/images/phoenix.png");
  background-size: 519px 71px;
}

/* Customize container */
@media (min-width: 970px) {
  .container {
    max-width: 970px;
  }
}
