<div class="jumbotron">
  <%= gettext "Welcome to %{name}", name: "Phoenix Cast!" %>

  <%# form_for @conn, "/", [as: :search, method: :get], fn f -> %>
    <div class="input-group">
      <%# text_input f, :q, [class: "form-control", placeholder: "Buscar por..."] %>

      <span class="input-group-btn">
        <%# submit "Buscar", [class: "btn btn-primary"] %>
      </span>
    </div>
  <%# end %>
</div>

<%= render Phoenixcast.VideoView, "_index.html", conn: @conn, videos: @videos %>
